body{ 
    background-color: #eeee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{ 
    font-size: 40px ;
    color : grey;
    margin-left: 20px ;
}

li{ 
    font-size: 18px ;

}